*.ipynb_checkpoints/
*.vscode/
*.idea/
*.pyc
venv/
build/
logs/
*.so
*.pth
*.pkl
*.zip
*.bin
*.pdf
*version.py
*.npy
*.DS_Store
*.sbatch
*.out

**__pycache__**
**build**
**egg-info**
**dist**
output/

*.err
*.out
*.slurm
*.ipynb
tools/scripts/logs/
tools/cfgs_zb/
tools/update_reminder.txt

*/logs/*
